<?xml version="1.0"?>
<config>
    <modules>
        <CC_Widgetcontacts>
            <version>1.0.0</version>
        </CC_Widgetcontacts>
    </modules>
    <global>
        <blocks>
            <widgetcontacts>
                <class>CC_Widgetcontacts_Block</class>
            </widgetcontacts>
        </blocks>
        <helpers>
            <widgetcontacts>
                <class>CC_Widgetcontacts_Helper</class>
            </widgetcontacts>
        </helpers>
        <models>
            <widgetcontacts>
                <class>CC_Widgetcontacts_Model</class>
            </widgetcontacts>
        </models>
        <resources>
            <widgetcontacts_setup>
                <setup>
                    <module>CC_Widgetcontacts</module>
                </setup>
            </widgetcontacts_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <widgetcontacts>
                    <file>cc.xml</file>
                </widgetcontacts>
            </updates>
        </layout>
        <routers>
            <widgetcontacts>
                <use>standard</use>
                <args>
                    <module>CC_Widgetcontacts</module>
                    <frontName>contactspage</frontName>
                </args>
            </widgetcontacts>
        </routers>
    </frontend>
</config>
