<?xml version="1.0"?>
<config>
    <modules>
        <CC_Widgetcontacts>
            <version>1.0.0</version>
        </CC_Widgetcontacts>
    </modules>
    <global>
        <blocks>
            <widgetcontacts>
                <class>CC_Widgetcontacts_Block</class>
            </widgetcontacts>
        </blocks>
        <helpers>
            <widgetcontacts>
                <class>CC_Widgetcontacts_Helper</class>
            </widgetcontacts>
        </helpers>
        <models>
            <widgetcontacts>
                <class>CC_Widgetcontacts_Model</class>
                <resourceModel>widgetcontacts_resource</resourceModel>
            </widgetcontacts>
            <widgetcontacts_resource>
                <class>CC_Widgetcontacts_Model_Resource</class>
                <entities>
                    <block>
                        <table>cc_widgetcontacts</table>
                    </block>
                </entities>
            </widgetcontacts_resource>
        </models>
        <resources>
            <widgetcontacts_setup>
                <setup>
                    <module>CC_Widgetcontacts</module>
                </setup>
            </widgetcontacts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <siteblocks before="Mage_Adminhtml">CC_Widgetcontacts_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
